html{
	scroll-behavior: smooth;	
}
body{	
	background:#ECBCA0;
	font-family:Trebuchet MS; 	
	margin:0;
}
div [class *='secao']{
	height:100%;
	width:100%;
}
div[id*='secao'] h2{	
	padding-top:120px;
}
p{
	text-align:justify;
	padding:0px 10px;
}
#cabecalho{
	background: #E88D58;
	width:100%;
	height:120px;
	text-align:center;
	position:fixed;
	top:0px;
	left:0px;
	display: flex;
	align-items: center;
}
#cabecalho h1{
	margin: 30%;
	color:black;
	font-size:30px;
	font-family: Apple Chancery, cursive;
}
.textobolo{
	padding-top: 30px;
}
.imagem{
	padding: 10px;
}
.b{
	display: flex;
}
.bolos{
	padding: 10px;
}
h3{
	text-decoration:underline;
	text-align: center;
}
#iconemenu{
	width:30px;
	float:left;
	display:none;
}
#iconemenu img{
	width:20px;
}

#menu li{
	font-size: 12px;
	text-align: left;
	list-style:none;
	padding: 3px;
	display:flex;
	font-family:"Garamond", cursive;
}
#menu a:link{
	color:wheat;
	font-weight:bold;
	text-decoration:none;
	border:solid 2px #695347;
	background:#695347;
}
#menu a:visited{
	color:#FFE2A8;
	border:solid 5px #693F28;
}
#menu a:hover{
	color:#FFE2A8;	
	background:#A1AECB;
	border:solid 3px #A1AECB;
}
#menu a:active{
	color:#FFE2A8;	
}

#secao {
	background:#ECBCA0;
}
/* define o estilo do título da secões titulo*/
#secao h2{
	background:#693F28;
	text-align:center;
}

textarea{
	resize: none;
	width: 382px;
	height: 100px;	
}
/* em telas de até 600px de largura o menu desaparece e aparece o botão hamburguer */
@media only screen and (max-width: 600px) {
	#menu li{
		display:none;
		display:flex;
		padding: 0;
	}
	#iconemenu{
		display:block;
	}

	#cabecalho h1{
		left: 10%;
		font-size: 20px;
		position: fixed;
	}
}