*{
    box-sizing: border-box;
   
}
body{
    padding: 0;
    margin: 0;
}

#menu{    
    transition: height 1s;
    text-align: center;    
    background: DarkSeaGreen;
    padding-top: 2px;
}

#menu a:link{
    position:absolute;
    top: -20px;
    color: green;
    font-size: 24px;
    text-decoration: none;
    transition: all 1s ;
}
#menu a:hover {   
    top: 0px;
    color: green;
    font-size: 30px;
    text-decoration: none;
}

.aberto{
    height: 25px;
}

.aberto select{
    display: inline;
}
.aberto a {
    display: none; 
    
}

.fechado {
    height: 0px;    
}

.fechado select {
    display: none;
}

.fechado a {
    display: inline;    
}