@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

body{
    font-size: 100%;
    background: linear-gradient(68.15deg,#3189C6 15.65%, #8E31C6);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-logo {
    height: 85px;
}

.cabecalho-menu {
    display:flex;
    gap: 32px;
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #34D38D;
    font-weight: 400;
    font-size: 18px;
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #FFFFFF;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #34D38D;
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #34D38D;
}

.conteudo-principal-escrito-descricao {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.conteudo-principal-escrito-botao {
    background-color: #8E31C6;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color:#FFFFFF;
}

.conteudo-principal-escrito-botao:hover {
    background-color: rgba(236, 214, 196, 0.53);
}

.conteudo-principal-escrito-botao:active {
    background-color: #3189C6;
    box-shadow: 0 5px #FFFFFF;
    transform: translateY(4px);
}

.conteudo-principal-imagem {
    height: 430px;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #FFFFFF;
}

.rodape-texto {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color:#000000;
}

.rodape-instagram {
    height: 48px;
}

@media only screen and (max-device-width: 300px) {
    .cabecalho { width:100%; };
    .conteudo { width:100%; };
    }