@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Ubuntu:wght@400;500;700&display=swap');


/* Remover padrao */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
  scroll-behavior: smooth;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/*  navbar   inicio*/
.navbar{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    z-index: 999;
    transition: all 0.3s ease;
}
.navbar.sticky{
    background: red;
    padding: 15px 0;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: white;
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 4px;
}
.navbar .logo a span{
    color: red;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: white;
    
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: red;

}
.navbar.sticky .menu li a:hover{
    color: white;
}




/*  home  iniicio  */
.home{
    display: flex;
    background: url(images/banner.png) no-repeat center;
    height: 100vh;
    color:white;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;    
}

.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 500;
    margin-left: 3px;
}
.home .home-content .text-3{
    font-size: 27px;
    margin: 5x 0;
}
.home .home-content .text-3 span{
    color: red;
    font-weight: 500;

}
.home .home-content a{
    display: inline-block;
    background: red;
    color: white;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid red;
}
.home .home-content a:hover{
    color: red;
    background: none;
}


/*  Botao de inicio*/
.scroll-up-btn{
  position: fixed;
  width: 41px;
  height: 45px;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 50px;
  color: white;
  background: red;
  border-radius: 6px;
  font-size: 30px;
  z-index: 9999;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show{
  opacity: 1;
  pointer-events: auto;
  bottom: 30px;
}



/*  Todos os codigos simmilares */
section{
  padding: 100px 0;
}
section .title{
  font-family: 'Ubuntu' , sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  position: relative;
}
section .title::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 180px;
  height: 3px;
  background: red;
  transform: translateX(-50%);
}
section .title::after{
  position: absolute;
  bottom: -12px;
  left: 50%;
  font-size: 20px;
  background: white;
  color: red;
  padding: 5px;
  transform: translateX(-50%);
}
.about, .services, .contact, footer, .extends, .values{
  font-family: 'Roboto' , sans-serif;
}
.about .about-content,
.services .serv-content,
.contact .contact-content,
.extends .extends-content,
.values .values-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}


/*  sessao sobre */


.about .title::after{
  content: "Quem sou eu";
}
.about .about-content .left{
  width: 45%;
}
.about .about-content .right{
  width: 55%;
}
.about .about-content .right .text{
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}
.about .about-content .right .text span{
  color: red;
}
.about .about-content .right p{
  text-align: justify;
}
.about .about-content .right a{
  display: inline-block;
  background: red;
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px; 
  border-radius: 6px;
  border: 2px solid red;
  transition: all 0.3s ease;
}
.about .about-content .right a:hover{
  color:red;
  background: none;
}
.about .about-content .left img{
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 6px;
}


/*  sessao valores */
.values{
  background: #080d1a;
  color: white;
}

.values .title::before{
  background: white;
}
.values .title::after{
  background: #080d1a;
  content: "Temos";
}
.values .values-content .card{
  width: calc(33% - 20px);
  background: #161e35a4;
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;
  cursor: pointer;
  transition: all o.3s ease;
}
.values .values-content .card:hover{
  background: red;
}
.values .values-content .card .box{
  transition: all 0.3s ease;
}
.values .values-content .card:hover .box{
  transform: scale(1.05);
}
.values .values-content .card ion-icon{
  font-size: 70px;
  color: red;
}
.values .values-content .card:hover ion-icon{
  color: white;
}
.values .values-content .card .text{
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}

/*  sessao serviços */
.services{
  background: white;
  color: red;
}
.services .title{
  color: #080d1a;
}
.services .title::before{
  background: red;
}
.services .title::after{
  background: white;
  content: "Temos";
}
.services .serv-content .card{
  width: calc(33% - 20px);
  background: red;
  color: white;
  text-align: center;
  border-radius: 6px;
  border: 2px solid red;
  padding: 20px 25px;
  cursor: pointer;
  transition: all o.3s ease;
}
.services .serv-content .card:hover{
  background: white;
  color: red;
}
.services .serv-content .card .box{
  transition: all 0.3s ease;
}
.services .serv-content .card:hover .box{
  transform: scale(1.05);
}
.services .serv-content .card ion-icon{
  font-size: 70px;
  color: white;
}
.services .serv-content .card:hover ion-icon{
  color: red;
}
.services .serv-content .card .text{
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}


/*  sessao contato */
.contact .title::after{
  content: "Fale Conosco";
}
.contact .contact-content .column{
  width: calc(50% - 30px);
}
.contact .contact-content{
  align-items: flex-start;
}
.contact .contact-content .left p{
  text-align: justify;
}
.contact .contact-content .text{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.contact .contact-content .left .icons{
  margin: 10px 0;
}
.contact .contact-content .row{
  display: flex;
  height: 65px;
  align-items: center;
}

.contact .contact-content .row .info{
  margin-left: 30px;
}
.contact .contact-content .row .info .head{
  font-weight: 500;
}
.contact .contact-content .row .info .sub-title{
  color: #080d1a;
}
.contact .contact-content .row ion-icon{
  font-size: 25px;
  color: red;
}
.contact .right form .fields{
  display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
  width: 100%;
  height: 45px;
  margin-bottom: 15px;
}

.contact .right form .field input,
.contact .right form .textarea textarea{
  width: 100%;
  height: 100%;
  border: 1px solid rgb(65, 63, 63);
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
}
.contact .right form .name{
  margin-right: 10px;
}
.contact .right form .email{
  margin-left: 10px;
}
.contact .right form .textarea{
  width: 100%;
  height: 80px;
}
.contact .right form .textarea textarea{
  padding-top: 10px;
  resize: none;
}
.contact .right form .button{
  width: 170px;
  height: 47px;
}
.contact .right form .button input{
  width: 100%;
  height: 100%;
  border: 2px solid red;
  background: red;
  color: white;
  font-size: 20px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.contact .right form .button input:hover{
  color: red;
  background: none;
}



/*  sessao extends */
.extends{
  background: #080d1a;
  color: white;
}
.extends .title::before{
  background: white;
}
.extends .title::after{
  background: #080d1a;
  content: "Temos";
}
.extends .extends-content .card{
  width: calc(25% - 20px);
  background: #161e35a4;
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;
  cursor: pointer;
  transition: all o.3s ease;
}
.extends .extends-content .card:hover{
  background: red;
}
.extends .extends-content .card .box{
  transition: all 0.3s ease;
}
.extends .extends-content .card:hover .box{
  transform: scale(1.05);
}
.extends .extends-content .card .text{
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}
.extends .extends-content .card img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 6px;
}


/*  sessao footer */
footer{
  background: #080d1a;
  padding: 20px  23px;
  color: white;
  text-align: center;
}
footer span a{
  color: red;
  text-decoration: none;
}
footer span a:hover{
  text-decoration: underline;
}


/*  menu  mobile / responsividade*/
.mobile-menu {
  display: none;
  cursor: pointer;
}
.menu {
  list-style: none;
  display: flex;
}

.menu li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}
@media (max-width: 1300px){
  .navbar .max-width{
      margin-left: 0;
  }
}

@media (max-width: 1129px){
  body {
    overflow-x: hidden;
  }
  .menu {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 45vw;
    height: 70vh;
    background: red;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.4s ease-in;
    border-radius: 20px 0 0 20px;

  }
  .menu li {
    margin-left: 0;
    opacity: 0;
  }
  .navbar .menu li a:hover{
    color: black;

}
  .mobile-menu {
    display: block;
  }
  
  .max-width{
      max-width: 800px;
      padding: 0 50px;
  }

  .home .home-content .text-2{
      font-size: 70px;
  }
  .home .home-content .text-3{
      font-size: 35px;
  }
  .home .home-content a{
      font-size: 23px;
      padding: 10px 30px;
  }
  .about .about-content .column{
      width: 50%;
  }
  .about .about-content .left{
      display: flex;
      justify-content: center;
      margin: 0 auto 60px;
  }
  .about .about-content .right{
      flex: 100%;
  }
  .services .serv-content .card{
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .values .values-content .card{
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .extends .extends-content .card{
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .contact .contact-content .column{
    width: 100%;
    margin-bottom: 35px;
  }
}
  @media (max-width: 1104px){
    .about .about-content .left img{
        width: 350px;
        height: 350px;
    }
  }
  @media (max-width: 991px){
    .navbar .max-width{
        padding: 0 50px;
    }
  }


.menu.active {
  transform: translateX(0);
}
@media (max-width: 690px){
  .home .home-content .text-2{
      font-size: 60px;
  }
  .home .home-content .text-3{
      font-size: 32px;
  }
  .home .home-content a{
      font-size: 20px;
  }
  .services .serv-content .card{
    width: 100%;
    margin-bottom: 20px;
  }
  .values .values-content .card{
    width: 100%;
    margin-bottom: 20px;
  }

  .extends .extends-content .card{
    width: 100%;
    margin-bottom: 20px;
  }
}
/* Efeito do Hamburguer */
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}


/* Modificaçao da scrollbar*/
::-webkit-scrollbar{
  width: 0.5rem;
}
::-webkit-scrollbar-track{
  background: black;
  border-radius: 5rem;
}
::-webkit-scrollbar-thumb{
  background: red;
}
::-webkit-scrollbar-track-piece{
  background: black;
}